<div class="container">
  <h3 class="text-center my-5"> S E R V I C E &nbsp;&nbsp; S O L U T I O N</h3>
  <div class="row mt-5">
    <div class="col-lg-3 col-md-6">
      <div class="card card-body">
        <h4 class="text-center mb-3">Software Dev.</h4>
        <a class="mt-4 text-center" (click)="onSoftware()"> See more</a>
        <div class="my-4" *ngIf="isSoftware">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima sunt hic quasi modi quo, voluptatibus illo excepturi totam provident, veniam nulla dignissimos amet obcaecati. Cupiditate amet ducimus maiores corporis.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-body">
        <h4 class="text-center mb-3">Training.</h4>
        <a class="mt-4 text-center" (click)="onTraining()"> See more</a>
        <div class="my-4" *ngIf="isTraining">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima sunt hic quasi modi quo, voluptatibus illo excepturi totam provident, veniam nulla dignissimos amet obcaecati. Cupiditate amet ducimus maiores corporis.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-body">
        <h4 class="text-center mb-3"> Consultancy</h4>
        <a class="mt-4 text-center" (click)="onConsultant()"> see more</a>
        <div class="my-4" *ngIf="isConsultant">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima sunt hic quasi modi quo, voluptatibus illo excepturi totam provident, veniam nulla dignissimos amet obcaecati. Cupiditate amet ducimus maiores corporis.
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-body">
        <h4 class="text-center mb-3"> Consultancy</h4>
        <a class ="mt-4 text-center" (click)="onCyber()"> See more</a>
      <div *ngIf="isCyber">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, minima sunt hic quasi modi quo, voluptatibus illo excepturi totam provident, veniam nulla dignissimos amet obcaecati. Cupiditate amet ducimus maiores corporis.
      </div>
    </div>
  </div>
  </div>
</div>
