<section class="contact">
  <div class="container-fluid text-center text-md-left py-5">
    <div class="row">
      <div class="col-md-4 offset-md-1" style="color: #fff; background-color: darkgray;">
        <h3 class="font-weight-bold mb-5">Contact Us</h3>
        <p>T: +250 788 231  606</p>
        <p>E: hhh@gmail.com</p>
        <p>A: Remera. Kigali</p>
      </div>
      <div class="col-md-4 offset-md-2">
        <form class="mx-5">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control transparent-input" placeholder="Full Name">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input type="email" class="form-control transparent-input" placeholder="Email">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control transparent-input" placeholder="Message Title">
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control transparent-input"  rows="5" placeholder="Message"></textarea>
          </div>
          <button class="button"> Submit </button>
        </form>
      </div>
    </div>
  </div>
</section>
