<section class="career bg-light">
  <div class="bg-image">
    <div class="container text-center text-white" style="padding-top: 15em;">
      <h1>J O I N &nbsp;&nbsp;&nbsp; O U R &nbsp;&nbsp;&nbsp; T E A M</h1>
      <h5> S H A R E &nbsp;&nbsp; O U R &nbsp;&nbsp; C A R E E R</h5>
    </div>
  </div>
  <div class="container py-5">
    <div class="message my-5">
      <hr class="my-3">
      <div class="row my-5">
        <div class="col-md-4 mt-4">
          <h4 class="font-weight-bold"> Finn <span class=""> Solution</span></h4>
        </div>
        <div class="col-md-8">
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem provident consequuntur laborum dolorum inventore iste similique illo quisquam nemo!
          </p>
          <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente exercitationem provident consequuntur laborum dolorum inventore iste similique illo quisquam nemo!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
