<nav class="navbar navbar-expand-lg">
  <div class="container">
    <img src="../../../assets/images/logo.png" class="navbar-brand" style="max-width: 100px;" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" role="button"> Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" routerLink="/service" id="navbarService" role="button" data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu mega-menu" aria-labelledby="navbarService">
            <div class="row">
              <div class="col-lg-4">
                <p> Testing 1</p>
              </div>
              <div class="col-lg-4">
                <p> Testing 2</p>
              </div>
              <div class="col-lg-4">
                <p> Testing 3</p>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarCompany" role="button" data-toggle="dropdown">
            Our Company
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarCompany">
            <a class="dropdown-item" routerLink="/diversity">Diversity</a>
            <a class="dropdown-item" routerLink="/career">Career</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item">News</a>
            <a class="dropdown-item" routerLink="/about">About Us</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"> Contact </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
