<section class="diversity py-5 bg-light">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 my-4">
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img>
              </div>
              <div class="flip-card-back">
                  <p>Diversity</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-4">
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img>
              </div>
              <div class="flip-card-back">
                  <p>Diversity</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-4">
        <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
                  <img>
              </div>
              <div class="flip-card-back">
                  <p>Diversity</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

